spring:
  data:
    mongodb:
      uri: ${MONGODB_URI}

logging:
  level:
    org.springframework.security: INFO
    com.sotti: INFO
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} - %msg%n"

server:
  port: ${PORT:8080}

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always